.DS_Store
output/
__pycache__/
*.py[cod]
*$py.class
tools/mapping.db
.vscode
tools/techniques.json

# Temporarily ignore this directory and file, we'll remove this once we have the final version of the visualizations
mappings/Azure/layers/
mappings/Azure/markdowns/
