version: 1.0
ATT&CK version: 8.2
creation date: 02/18/2021
name: 'Azure Web Application Firewall'
contact: ctid@mitre-engenuity.org
organization: Center for Threat Informed Defense (CTID)
platform: Azure
tags:
  - Azure Security Center Recommendation
  - Web
  - WAF
  - Web Access Firewall
description: > 
  Azure Web Application Firewall (WAF) provides centralized protection of your web applications 
  from common exploits and vulnerabilities.
techniques:
  - id: T1595
    name: Active Scanning
    technique-scores:
      - category: Protect
        value: Partial
        comments: >-
          This control can protect web applications from active scanning by an adversary. Because this protection
          is specific to web applications (although frequent targets) and not other application types,
          it has been scored as Partial.
    sub-techniques-scores:
      - sub-techniques:
          - id: T1595.002
            name: Vulnerability Scanning
        scores:
          - category: Protect
            value: Partial
            comments: Focuses on web vulnerability scanning of OWASP Core Rule Set (CRS).
          - category: Detect
            value: Partial
  - id: T1190
    name: Exploit Public-Facing Application
    technique-scores:
      - category: Protect
        value: Significant
        comments: This control can protect web applications from common attacks (e.g. SQL injection, XSS).
      - category: Detect
        value: Significant
        comments: This control can detect common web application attack vectors.
  - id: T1046
    name: Network Service Scanning
    technique-scores:
      - category: Protect
        value: Partial
        comments: >-
          This control can protect web applications from network service scanning by an adversary.
          Because this protection is specific to web applications (although frequent targets) and
          not other application types enumerated in the procedure examples of this technique (e.g. Active Directory),
          it has been scored as Partial.
      - category: Detect
        value: Partial
        comments: >-
          This control can detect network service scanning of web applications by an adversary.
          Because this detection is specific to web applications (although frequent targets) and
          not other application types enumerated in the procedure examples of this technique (e.g. Active Directory),
          it has been scored as Partial.
  - id: T1071
    name: Application Layer Protocol
    technique-scores:
      - category: Protect
        value: Minimal
        comments: >-
          This control can protect against one of the sub-techniques of this technique while not providing protection
          for the remaining, resulting in a Minimal overall score.
      - category: Detect
        value: Minimal
        comments: >-
          This control can detect one of the sub-techniques of this technique while not providing detection
          for the remaining, resulting in a Minimal overall score.
    sub-techniques-scores:
      - sub-techniques:
          - id: T1071.001
            name: Web Protocols
        scores:
          - category: Protect
            value: Partial
            comments: >-
              This control can protect web applications from protocol attacks that may be indicative of
              adversary activity.
          - category: Detect
            value: Partial
            comments: >-
              This control can detect protocol attacks targeting web applications that may be indicative
              of adversary activity.
references:
  - https://docs.microsoft.com/en-us/azure/web-application-firewall/overview
